#top {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(179, 210, 210);
    padding: 10px;
}

#logo {
    width: 25%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

#logo>div:nth-child(1) {
    width: 55%;
    /* border: 1px solid; */
}

#logo>div:nth-child(2) {
    width: 40%;
    /* border: 1px solid; */
    line-height: 8px;

}

#logo>div:nth-child(1)>img {
    padding: 5px;
    width: 100%;
    height: 75%
}

#logo>div:nth-child(1)>div {
    width: 100%;

}






#search {
    width: 35%;
    border: 1px solid;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgb(179, 210, 210);

}

#search>i {
    width: 10%;
    font-size: 20px;
    padding-left: 30px;
    /* border: 1px solid; */
    margin: auto;
}

#search>input {
    width: 95%;
    border: none;
    height: 90%;
    margin: auto;
    outline: none;

}

#search>div {
    width: 40%;
    /* border: 1px solid; */
    border-radius: 30px;
    height: 85%;
    margin: auto;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

#search>div>button {
    width: 90%;
    border: none;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(10, 119, 119);
    font-size: 20px;
    color: white;
    font-weight: bold;
}



#otherIcons {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;

}

#otherIcons>div {
    width: 18%;
    /* border: 1px solid red; */
    display: flex;
}

#otherIcons>div:nth-child(1) {
    width: 35%;
    border: none;
    display: flex;
    height: 80%;
    border-radius: 10px;
    background-color: #eff6f9;
}

#otherIcons>div>i {
    font-size: 25px;
    padding: 10px;
}

#otherIcons>div:nth-child(1)>i {
    font-size: 30px;
    padding: 10px;
}

#bottom>div.div {
    width: 15%;

}

#Summary {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}

#Summary>div:nth-child(1) {
    padding: 30px;
    padding-left: 300px;
    font-family: Inter, sans-serif;
    color: rgb(76, 75, 75);
}

#Summary>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid ; */
    line-height: 10px;

}






/* this is the bottom of the nav bar */
#bottom {
    border-bottom: 1px solid #bfe8f7;

}

#bottom>div {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 5px;
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: rgb(76, 75, 75);
    padding: 10px;
}



/* this is the add to cart section */
#container {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

#productImage {
    width: 20%;
    /* border-bottom: 1px solid gray; */
    padding: 20px;
    margin: auto;
    /* border:1px solid; */
}

#productImage>div>img {
    width: 180px;
    height: 300px;
}

#Addtocart {
    width: 50%;
    /* border-bottom: 1px solid gray; */
    padding: 20px;
    margin: auto;

}

#Addtocart>button {
    padding: 12px;
    width: 18%;
    border: none;
    border-radius: 10px;
    background-color: rgb(29, 152, 119);
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#Viewcart {
    width: 30%;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: auto;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    font-family: sans-serif;
}

#Viewcart>button {
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(29, 152, 119);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#Viewcart a {
    text-decoration-line: none
}


#descdiv{
    width: 80%;
    /* border: 1px solid gray; */
    padding: 28px;
}


/* this is the footer */
/* this is groundfooter */
#gorundfooter {
    /* border: 1px solid; */
    /* width: 90%; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    background-color: rgb(243, 252, 249);
    font-family: sans-serif;
    justify-content: space-around;
}

#gorundfooter>div {
    /* border: 1px solid; */
    height: 100%;
    width: 30%;
    padding: 30px;
    line-height: 30px;
}

#gorundfooter>div img {
    padding: 12px;
}

#Partners>div {
    width: 99%;
    margin: auto;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
}

#Partners>div>div {
    width: fit-content;
    /* border: 1px solid; */
}

#Partners>div>div>img {
    width: 60%;
}