
#top {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(179, 210, 210);
    padding: 8px;
    /* position: relative;
    z-index: 100000; */
    /* padding-top: 50px; */
    background-color: white;

}

#logo {
    width: 25%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

#logo>div:nth-child(1) {
    width: 55%;
    /* border: 1px solid; */
}

#logo>div:nth-child(2) {
    width: 40%;
    /* border: 1px solid; */
    line-height: 8px;

}

#logo>div:nth-child(1)>img {
    padding: 5px;
    width: 100%;
    height: 75%
}

#logo>div:nth-child(1)>div {
    width: 100%;

}




/* search bar */

#search {
    width: 35%;
    border: 1px solid;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgb(179, 210, 210);

}

#search>i {
    width: 10%;
    font-size: 20px;
    padding-left: 30px;
    /* border: 1px solid; */
    margin: auto;
}

#search>input {
    width: 95%;
    border: none;
    height: 90%;
    margin: auto;

}

#search>div {
    width: 40%;
    /* border: 1px solid; */
    border-radius: 30px;
    height: 85%;
    margin: auto;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

#search>div>button {
    width: 90%;
    border: none;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(10, 119, 119);
    font-size: 20px;
    color: white;
    font-weight: bold;
}




/* other icons of the nav */
#otherIcons {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;

}

#otherIcons>div {
    width: 18%;
    /* border: 1px solid red; */
    display: flex;
}

#otherIcons>div:nth-child(1) {
    width: 35%;
    border: none;
    display: flex;
    height: 80%;
    border-radius: 10px;
    background-color: #eff6f9;
}

#otherIcons>div>i {
    font-size: 25px;
    padding: 10px;
}

#otherIcons>div:nth-child(1)>i {
    font-size: 30px;
    padding: 10px;
}



/* this is the bottom */
#bottom {
    border-bottom: 1px solid #bfe8f7;

  

}

#bottom>div {
    display: flex;
    width: 60%;
    margin: auto;
    /* margin-top: 5px; */
    justify-content: space-between;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: rgb(76, 75, 75);
    padding: 10px;
  
}

#bottom>div.div {
    width: 15%;

}

#Summary {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}

#Summary>div:nth-child(1) {
    padding: 30px;
    padding-left: 300px;
    font-family: Inter, sans-serif;
    color: rgb(76, 75, 75);
}

#Summary>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid ; */
    line-height: 10px;

}

#Summary>div:nth-child(2)>div {
    width: 10%;
    font-family: Inter, sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
}

#Summary>div:nth-child(2)>div>img {
    width: 75%;
    border-bottom: 1px solid gray;
    display: block;
    margin: auto;
}

#Summary>div:nth-child(2)>div p {
    color: rgb(76, 75, 75);
    text-align: center;
    font-weight: bold;
}

#Summary>div:nth-child(2)>div p+p {
    color: rgb(228, 82, 82);
    text-align: center;
    font-size: small;
}

#block {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#block>div:nth-child(1) {
    width: 35%;
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#block>div:nth-child(1)>div {
    border-bottom: 1px solid gray;
    width: 70%;

}

.radio,
.fm {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}


#block>div:nth-child(2) {
    width: 65%;
    /* border: 1px solid rgb(119, 218, 38); */
    display: flex;
    flex-direction: column;
}

#sortingheading {
    display: flex;
    /* border: 1px solid gray; */
    justify-content: space-around;
    align-items: center;


 }  

#sortby {
    width: 100%;
}

#bigDisplay {
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 40px;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

#bigDisplay>div {
    /* border: 1px solid; */
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

#bigDisplay>div>img {
    width: 100px;
    height: 150px;
    /* border: 1px solid red; */
    

}

#bigDisplay button{
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    background-color: #0A7777;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* this is footer */
footer>div>h3+div {
    border:1px solid rgb(241, 235, 240); ;
    background-color: rgb(241, 235, 240);
    font-size: 20px;
    padding-left: 85px;
    margin-top: 100px;

}
#ReasonCards {
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    margin: auto;
    background-color:  rgb(241, 235, 240);
    justify-content: space-evenly;
}

#ReasonCards>div {
   
    margin: auto;
    /* border: 1px solid; */
    padding: 20px;
    text-align: center;
}

#ReasonCards>div>img {
    width: 20%;
    display: block;
    margin: auto;


}

#ReasonCards>div:nth-child(1)>img {
    width: 16%;

}

#bannerDiv{
    /* width: 90%; */
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(215, 255, 242);
}
#bannerDiv>div{
    width: 30%;
    
}
#bannerDiv>div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
   
}
#bannerDiv>div>img{
    width: 70%;
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    margin-top: 1px;
    height: 99%;
}
#bannerDiv>div>div{
/* border:1px solid; */
width: fit-content;
}

#Companydetail{
    font-family: sans-serif;
    width: 95%;
    margin: auto;
    margin-top: 150px;
}





 /* this is groundfooter */
 #gorundfooter {
    /* border: 1px solid; */
    width: 99%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    background-color: rgb(243, 252, 249);
    font-family: sans-serif;
    justify-content: space-around;
}

#gorundfooter>div {
    /* border: 1px solid; */
    height: 100%;
    width: 30%;
    padding: 30px;
    line-height: 30px;
}

#gorundfooter>div img {
    padding: 12px;
}

#Partners>div{
    width: 99%;
    margin: auto;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
}

#Partners>div>div {
   width: fit-content;
   /* border: 1px solid; */
}
#Partners>div>div>img{
   width: 60%;
}

