/* this is the top of the nav */
* {
    font-family: "Poppins";
}

#top {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(179, 210, 210);
    padding: 10px;
}

#logo {
    width: 25%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

#logo>div:nth-child(1) {
    width: 55%;
    /* border: 1px solid; */
}

#logo>div:nth-child(2) {
    width: 40%;
    /* border: 1px solid; */
    line-height: 8px;

}

#logo>div:nth-child(1)>a>img {
    padding: 5px;
    width: 100%;
    height: 75%
}

#logo>div:nth-child(1)>div {
    width: 100%;

}






#search {
    width: 35%;
    height: 50px;
    border: 1px solid;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgb(179, 210, 210);

}

#search>i {
    width: 10%;
    font-size: 20px;
    padding-left: 30px;
    margin: auto;
}

#search>input {
    width: 95%;
    border: none;
    height: 90%;
    margin: auto;
    outline: none;

}

#search>div {
    width: 40%;
    /* border: 1px solid; */
    border-radius: 30px;
    height: 85%;
    margin: auto;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

#search_btn {
    width: 90%;
    border: none;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(10, 119, 119);
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#search_btn:hover{
    background-color: rgb(1, 77, 77);
    cursor: pointer;
}

#otherIcons {
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;

}

#otherIcons>div {
    width: 18%;
    /* border: 1px solid red; */
    display: flex;
}

#otherIcons>div:nth-child(1) {
    width: 35%;
    border: none;
    display: flex;
    height: 80%;
    border-radius: 10px;
    background-color: #eff6f9;
}

#otherIcons>div>i {
    font-size: 25px;
    padding: 10px;
}

#otherIcons>div:nth-child(1)>i {
    font-size: 30px;
    padding: 10px;
}









/* this is the bottom */
/* #bottom {
    border-bottom: 1px solid #bfe8f7;

}

/* #bottom>div,#bottom>div>a {
    display: flex;
    width: 60%;
    margin: auto;
    /* margin-top: 5px; */
/* justify-content: space-between;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    color: rgb(76, 75, 75);
    padding: 10px;
    text-decoration-line: none;
}  */

/* #bottom>div.div {
    width: 15%;

} */

.menu-bar {
    background: #f3fbfb;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    /* border: 1px solid; */
    width: 120px;
    margin: 1px;


}

a {
    text-decoration-line: none;
    color: #000;
}

.menu-bar ul li:hover {
    color: rgb(54, 105, 105);
    font-weight: bold;

}

.subm {
    display: none;
}

.menu-bar ul li:hover .subm {
    display: block;
    position: relative;
    /* background-color: rgb(153, 208, 204); */
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* border: 10px solid black; */

}

.menu-bar ul li:hover .subm ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .subm ul li {
    width: 150px;
    padding: 10px;
    background: transparent;

}











/* the home page body 1st elments */

#Summary {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
}

#Summary>div:nth-child(1) {
    padding: 30px;
    padding-left: 300px;
    font-family: Inter, sans-serif;
    color: rgb(76, 75, 75);
}

#Summary>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid ; */
    line-height: 10px;

}

#Summary>div:nth-child(2)>div {
    width: 10%;
    font-family: Inter, sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
}

#Summary>div:nth-child(2)>div>a img {
    width: 75%;
    border-bottom: 1px solid gray;
    display: block;
    margin: auto;
}

#Summary>div:nth-child(2)>div p {
    color: rgb(76, 75, 75);
    text-align: center;
    font-weight: bold;
}

#Summary>div:nth-child(2)>div p+p {
    color: rgb(228, 82, 82);
    text-align: center;
    font-size: small;
}

#offersSlidingBanner {
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    margin-top: 100px;

}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    margin: auto;
    justify-content: space-between;

}

.swiper-slide>img {
    width: 30%;
    border-radius: 20px;
    display: block;
}

#Tests>div:nth-child(1) {
    /* border: 1px solid red; */
    margin: 10px;
}

#Tests>div:nth-child(1)>div {
    display: flex;
    width: 20%;
    /* border: 1px solid blue; */
    align-items: center;
    font-size: 18px;
    line-height: 1px;

}

#Tests>div:nth-child(1)>div>img {
    /* border: 1px solid red; */
    width: 30%;
    height: 20%;
    display: block;
    padding: 10px;


}


#Tests {
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 100px;
    font-family: Inter, sans-serif;
    color: rgb(76, 75, 75);

}

#TestCards {
    /* border: 1px solid gray; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;

}

#TestCards>div>img {
    width: 100%;

}

#TestCards>div>img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}



#offercontainer {
    /* border: 1px solid red; */
    width: 90%;
    /* background-color: blueviolet; */
    margin: auto;
    margin-top: 100px;

}

#offercontainer h2 {
    font-family: Inter, sans-serif;
    color: rgb(76, 75, 75);
    margin-left: 42%;
    margin-bottom: 50px;

}

#offercontainer .swiper {
    width: 100%;
    height: fit-content;
    display: flex;

}

#offercontainer .swiper-slide>img {
    width: 30%;
    display: block;
    margin: auto;
    margin-left: 30px;
    border-radius: 5px;
}

#category {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 50px;

}

#category>div {
    text-align: center;


}

#category>div>div {
    width: 60%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

#category>div>div a img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#category>div>div>a img {
    width: 95%;
    display: block;
    margin: auto;
    border: none;
}

#CategoryHeading {
    margin: auto;
    margin-top: 100px;
    width: 90%;
}


#healthBanner {
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #8678DE;
    font-family: Inter, sans-serif;
    margin-top: 100px;
}

#healthBanner>div {
    width: 30%;
    color: white;
}

#healthBanner>div>h1>img {
    width: 22%;

}

#explore_now_btn {
    width: fit-content;
    background-color: #fec430;
    border-radius: 5px;
    padding: 10px;
    
}

#explore_now_btn:hover{
    background-color: #f8b305;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#healthBanner>div:nth-child(3)>img {
    width: 70%;
    display: block;
    margin-top: 5px;

}


/* this is footer */


footer>div>h3+div {
    border: 0.1px solid rgb(241, 235, 240);
    ;
    background-color: rgb(241, 235, 240);
    font-size: 20px;
    padding-left: 85px;
    margin-top: 100px;

}

#ReasonCards {
    /* border: 1px solid; */
    display: flex;
    background-color: rgb(241, 235, 240);
    justify-content: space-evenly;
}

#ReasonCards>div {

    margin: auto;
    /* border: 1px solid; */
    padding: 20px;
    text-align: center;
}

#ReasonCards>div>img {
    width: 20%;
    display: block;
    margin: auto;


}

#ReasonCards>div:nth-child(1)>img {
    width: 16%;

}

#bannerDiv {
    /* width: 100%; */
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(215, 255, 242);
}

#bannerDiv>div {
    width: 30%;

}

#bannerDiv>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#bannerDiv>div>img {
    width: 70%;
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    margin-top: 1px;
    height: 99%;
}

#bannerDiv>div>div {
    /* border:1px solid; */
    width: fit-content;
}

#Companydetail {
    font-family: sans-serif;
    width: 98%;
    margin: auto;
    margin-top: 100px;
}


/* this is groundfooter */
#gorundfooter {
    /* border: 1px solid; */
    /* width: 90%; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    background-color: rgb(243, 252, 249);
    font-family: sans-serif;
    justify-content: space-around;
}

#gorundfooter>div {
    /* border: 1px solid; */
    height: 100%;
    width: 30%;
    padding: 30px;
    line-height: 30px;
}

#gorundfooter>div img {
    padding: 12px;
}

#Partners>div {
    width: 99%;
    margin: auto;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
}

#Partners>div>div {
    width: fit-content;
    /* border: 1px solid; */
}

#Partners>div>div>img {
    width: 60%;
}